# Start of memory section
MEMORY
{
    RAM:
        start $0000
        size $8000
        file="ram.bin";
    ROM1:
        start $a000
        size $1000
        file="utility.bin";
    ROM2:
        start $C000
        size $4000
        file="os.bin";
}

SEGMENTS
{
    CODE: load=RAM, type=rw, start=$0200;
    UTILITY: load=ROM1, type=ro;
    OS: load=ROM2, type=ro;
    EOSVECTORS: load=ROM2, type=ro, start=$FF00;
    OSVECTORS: load=ROM2, type=ro, start=$FFCE;
    VECTORS: load=ROM2, type=ro, start=$FFFA;
}
